@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Andres Felipe Betancur<br />
    <abbr title="Phone">P:</abbr>
    301 3614265<br />
    <abbr title="Skype">P:</abbr>
    piperro37
</address>

<address>    
    <strong>Mail to:</strong> <a href="mailto:pipe37@gmail.com">pipe37@gmail.com</a>
</address>
