@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h3>This is the Andres Betancur Test</h3>
    <p class="lead">        
        Mobile phone: 3013614265
        <br />
        Email: pipe37@gmail.com
        <br />        
    </p>   
</div>


